/* css styles */
.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,.12);
}

.justify {
  text-align: justify;
}

.quarto-title h1.title {
  text-align: justify;
}